<div class="relative pt-16 pb-10">
    <div class="absolute inset-x-0 top-0 h-48 bg-gradient-to-b from-gray-100"></div>
    <div class="relative">
        
        <div class="flex flex-col sm:flex-row gap-4 mx-auto max-w-xl px-4 sm:px-6 lg:mx-0 lg:max-w-none lg:py-16 lg:px-0">
            <!-- First Element -->
            <div class="flex-[2] p-6 bg-gray-200">
                <p class="text-lg lg:text-2xl font-bold">
                    <article class="max-w-full prose dark:prose-invert">
                        
                        <header><h1>
                            Some quote
                        </h1></header>
                    
                        <p>The <strong>Heritage Science Ontology Working Group</strong> is dedicated to fostering discussion and
                            collaboration around defining both Heritage and the broader Heritage Science domain. By engaging with these
                            complexities, we aim at defining the knowledge domain for the Heritage Science Ontology, a semantic model
                            currently being developed in the framework of the <a href="https://www.h2iosc.cnr.it/"
                                target="_blank">H2IOSC</a> project.</p>
                            <p class="text-xs text-neutral-500 dark:text-neutral-400 hover:underline hover:decoration-primary-400 hover:text-primary-500">On the left, Assyrian
                                carved plaque (Nimrud), <a href="https://www.metmuseum.org/art/collection/search/324926" target="_blank">MET</a>.</p>
                        
                    
                    </article>
                </p>
            </div>
            <!-- Second Element -->
            <div class="flex-[1] bg-gray-100">
                <div class="-mr-48 md:-mr-16 lg:relative lg:m-0 lg:h-full lg:px-0" style="width:80%">
                    <img src="plaque.png" alt="Assyrian carved plaque (Nimrud), MET.">    
                </div>
            </div>
        </div>


       
    </div>
</div>



<section>
    {{ partial "recent-articles/main.html" . }}
</section>

<!-- Third Full Div Below -->
<div class="relative pt-16 pb-10">
    <div class="absolute inset-x-0 top-0 h-48 bg-gradient-to-b from-gray-100"></div>
    <div class="relative">
        <div class="lg:mx-auto lg:grid  lg:px-8">

            <!-- Image Section -->
            <div class="flex justify-center items-center p-0 m-0">
                <div>
                    <img class="img-fluid p-4" src="E-RIHS.png" alt="E-RIHS Logo">
                </div>
                <div>
                    <img class="img-fluid p-4" src="H2IOSC.png" alt="H2IOSC Logo">
                </div>
                <div>
                    <img class="img-fluid p-4" src="CNR_ISPC.png" alt="CNR and ISPC Logo">
                </div>
            </div>
            <section class="text-xs text-neutral-500 dark:text-neutral-400">The Heritage Science Ontology Working Group and its
                scientific activity is an output of H2IOSC - Humanities and cultural Heritage Italian Open Science Cloud, WP 4 "RIs
                Nodes and Resources Interoperability", Activity 4.10 "Resources interoperability: DIGILAB resources (E-RIHS)". The
                H2IOSC Project is funded by the European Union NextGenerationEU - National Recovery and Resilience Plan (NRRP) -
                Mission 4 ‘Education and Research’ Component 2 ‘From research to business’, Investment 3.1 ‘Fund for the realization
                of an integrated system of research and innovation infrastructures’, Action 3.1.1 ‘Creation of new research
                infrastructures strengthening of existing ones and their networking for Scientific Excellence under Horizon Europe’.
                Project code IR0000029 - CUP B63C22000730005. Implementing Entity CNR.</section>

                        <img src="logo-banner.png">

</div>

        </div>
    </div>
</div>

