<div class="relative pt-16 pb-10">
    <div class="absolute inset-x-0 top-0 h-48 bg-gradient-to-b from-gray-100"></div>
    <div class="relative">
        <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:gap-24 lg:px-8">
            <!-- Text Section -->
            <div class="mx-auto max-w-xl px-4 sm:px-6 lg:mx-0 lg:max-w-none lg:py-16 lg:px-0">
                <article class="max-w-full prose dark:prose-invert">
                    <header>
                        <h1>What Makes Soup, Soup?</h1>
                    </header>
                    <section>In a hilarious <a href="https://youtu.be/Y1HVTNxwt7w?si=uJwDt_WH6ETLEb3f" target="_blank">BBC Scotland sketch</a>, a character embarks on an existential quest to answer the age-old question: "What makes soup, soup?" As he spirals through debates about sauce, gravy, gazpacho, and porridge, his confusion only deepens. It’s funny, relatable—and surprisingly relevant to Heritage Science. Not only because food preparation is a form of Heritage, but also because Heritage itself is notoriously tricky to define. The more we try to pin it down, the more elusive it becomes.
                    
                    One thing we can agree on is that the concept of Heritage is constantly evolving. What we consider "Heritage" today is the result of centuries of transformation. Change, it seems, is the only constant—and this dynamic nature is precisely why defining the domain is such a challenging task.

                    The <strong>Heritage Science Ontology Working Group</strong> is dedicated to fostering discussion and collaboration around defining both Heritage and the broader Heritage Science domain. By engaging with these complexities, we aim to bring clarity to a field that thrives on its fluid and ever-changing nature.
                    
                    </section>
                </article>
            </div>

            <!-- Image Section -->
            <div class="mt-6 sm:mt-16 lg:mt-0 mx-auto max-w-xl px-4 sm:px-6 lg:mx-0 lg:max-w-none lg:py-16 lg:px-0">
                <div class="-mr-48 md:-mr-16 lg:relative lg:m-0 lg:h-full lg:px-0" style="width:100%">
                    <img class="w-full lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none"
                        src="archaeometry_journal.svg">
                </div>
            </div>
        </div>
    </div>
</div>



<section>
    {{ partial "recent-articles/main.html" . }}
</section>
<!-- Third Full Div Below -->
<div class="relative pt-16 pb-10">
    <div class="absolute inset-x-0 top-0 h-48 bg-gradient-to-b from-gray-100"></div>
    <div class="relative">
        <div class="lg:mx-auto lg:grid  lg:px-8">
            <!-- Text Section -->
            <div class="mx-auto max-w-xl px-4 sm:px-6 lg:mx-0 lg:max-w-none lg:py-16 lg:px-0">
                <article class="max-w-full prose dark:prose-invert">
                    <section class="text-sm text-neutral-500 dark:text-neutral-400">Heritage Science Ontology Working Group is an output of H2IOSC - Humanities and cultural
                    Heritage Italian Open Science Cloud, WP 4 "RIs Nodes and Resources Interoperability", Activity 4.10 "Resources
                    interoperability: DIGILAB resources (E-RIHS)". The H2IOSC Project is funded by the European Union NextGenerationEU -
                    National Recovery and Resilience Plan (NRRP) - Mission 4 ‘Education and Research’ Component 2 ‘From research to
                    business’, Investment 3.1 ‘Fund for the realization of an integrated system of research and innovation infrastructures’,
                    Action 3.1.1 ‘Creation of new research infrastructures strengthening of existing ones and their networking for
                    Scientific Excellence under Horizon Europe’.
                    Project code IR0000029 - CUP B63C22000730005. Implementing Entity CNR.</section>
                <img  src="logo-banner.png"></article>
            </div>
            <!-- Image Section -->
                


        </div>
    </div>
</div>

